/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  text-align: center;
  /* background-color: #F5F5DC; */
  /* color: #333333 ; */
}

/* Estilos dos elementos da página */
#text {
  text-align: center;
  width: 500px;
  height: 30px;
}

#result {
  font-size: 30px;
}

/* Modo claro */
.light-mode {
  background-color: #f5f5dc;
  color: #333333;
  border: #cccccc;
}

.light-mode a {
  color: #000000;
}

.light-mode a:hover {
  color: #666666;
}

/* Modo Noturno */
.dark-mode {
  background-color: #1a1a1a;
  color: #eaeaea;
  border: #4d4d4d;
}

.dark-mode a {
  color: #f5f5dc;
}

.dark-mode a:hover {
  color: #fff5e6;
}
/* Estilizando o header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

header #logo {
  margin: 0;
  width: 175px;
  height: 160px;
}

header button {
  margin-left: auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
