/* reset */

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Estilos dos elementos da página */

#text {
  text-align: center;
  width: 500px;
  height: 30px;
}

/* Estilos dinâmicos */
#result {
  font-size: 30px;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
