@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: "Schibsted Grotesk", sans-serif;
}

h2 {
  font-size: 1.5rem;
  margin: 3rem;
}

#img-logo {
  margin: 1.5rem 0;
  border-radius: 4.5rem;
  width: 12rem;
  height: 11rem;
}

#textToFormat {
  text-align: center;
  width: 18rem;
  height: 2rem;
  margin: 3rem;
}

#formattedText {
  font-size: 3rem;
}

/* Estilizando o header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

header button {
  margin-left: auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #e2e0d4;
    color: #1a1a1a;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #eaeaea;
  }
}
