/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Estilos dos elementos da página */
#text {
  text-align: center;
  width: 500px;
  height: 30px;
}

#result {
  font-size: 30px;
}

/* Estilizando o header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

header #logo {
  margin: 0;
  width: 175px;
  height: 160px;
}

header button {
  margin-left: auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #e2e0d4;
    color: #1a1a1a;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #eaeaea;
  }
}
